# Python
__pycache__/
*.pyc

# Ejecutables
*.exe

# Logs
*.log

# Resultados generados
output/
logs/
versions/
# Archivos de compilación
build/
dist/

# Archivos temporales
*.ui~
*.tmp

# Entornos virtuales (si usas en el futuro)
env/
venv/

# Configuraciones del sistema
.DS_Store
